- var version = '0.3.1'

doctype html
html(lang="ja")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")

    title NyankoSweeper
    meta(name="description" content="Macintoshユーザには懐かしいNyankoSweeperをWeb上に再現")

    meta(name="twitter:card" content="summary")
    meta(property="og:title" content="NyankoSweeper")
    meta(property="og:description" content="Macintoshユーザには懐かしいNyankoSweeperをWeb上に再現")
    meta(property="og:image" content="https://kobalab.net/nyankosweeper/game.png")

    link(rel="icon" type="image/png" href="icon.gif")
    link(rel="stylesheet" type="text/css" href=`nyankosweeper-${version}.css`)
    script(src=`nyankosweeper-${version}.js` defer)
  body
    h1
      img(src="icon.gif")
      |  NyankoSweeper
    .version ver.#{version}

    include menu
    
    #loading
      img(src="ajax-loader.gif")

    table#board
      tr
        td
          .block
          span.status

    include pref
    include score
    include rule
