- var version = '0.1.0'

doctype html
html(lang="ja")
  head
    title にゃんこスイーパー
    link(rel="icon" type="image/png" href="icon.gif")
    link(rel="stylesheet" type="text/css" href=`nyankosweeper-${version}.css`)
    script(src=`nyankosweeper-${version}.js` defer)
  body
    h1
      img(src="icon.gif")
      |  にゃんこスイーパー
    .version ver.#{version}
