ul#menu
  li #[a(href="../") Home]
  li #[a(href="#board") ゲーム]
  li #[a(href="#pref") 設定]
  li #[a(href="#rule") 遊び方]
  li #[a(href="https://github.com/kobalab/NyankoSweeper" target="_blank") GitHub]
