#rule
  h2 遊び方
  p 
    | 30×17のブロックの中に100匹の猫がかくれています。
    | 猫のいないブロックをすべて開いてください。
  h3 ブロックを開く
  p 
    | ダブルクリックでブロックが開きます。 
    | 猫のいるブロックを開くとGame Overです。
    br
    | ブロックに猫がいない場合は、周りのブロックにいる猫の数が表示されます。
    br
    | 周りのブロックにも猫がいない場合は、開いたブロックの周りのブロックが自動的に開きます。
    | 自動的に開いたブロックの周りにも猫がいないときは、さらに周りのブロックが自動的に開いていきます。
  h3 マークをつける
  p
    | シングルクリックでマークをつけることができます。
    br
    | マークはクリックするごとに、
    img(src="mark1.gif" alt="[猫]")
    |  → 
    img(src="mark2.gif" alt="[?]")
    |  → [なし] と変わります。
    br
    | 猫が確実にいると思うブロックには
    img(src="mark1.gif" alt="[猫]")
    | マーク、猫がいるかもしれないと思うブロックには
    img(src="mark2.gif" alt="[?]")
    | マークをつけるといいでしょう。
  h3 ステータスパネルの意味
  dl
    dt Panel
    dd 開いたブロックの数 / 開けるブロックの数
    dt Cat
    dd
      img(src="mark1.gif" alt="[猫]")
      | マークの残りの数 / かくれている猫の数
    dt Time
    dd ゲームの経過時間
  h3 ゲームの再開
  p
    | ゲーム盤をダブルクリックしてください。
