@charset "UTF-8"

html
    margin: 0 15px
    font-size: 12px
    font-family: "Hiragino Maru Gothic Pro", Verdana, sans-serif
    -webkit-text-size-adjust: 100%
body
    margin: auto
    margin-bottom: 40px
    max-width: 900px

h1
    img
        width: 32px
        vertical-align: text-bottom
    font-size: 28px
    border-bottom: solid 2px #ccc
    margin-bottom: 0

.version
    font-size: 16px
    font-family: Georgia, serif
    text-align: right
    margin-top: -1.2em

#menu
    font-size: 14px
    margin: 0.5em 0
    padding: 0
    li
        display: inline-block
        margin-left: 1em
        a
            color: inherit
            text-decoration: none

#board
    display: none
    background-color: silver
    border: outset 5px
    tr td
        border: inset 1px
        padding: 4px
    .block
        margin-bottom: 6px
        div
            line-height: 0
            white-space: nowrap
            div
                display: inline-block
                box-sizing: border-box
                width: 16px
                height: 16px
                border: solid 1px
                border-color: #ddd #666 #666 #ddd
                background-position: -1px -1px
                &.mark1
                    background-image: url('mark1.gif')
                &.mark2
                    background-image: url('mark2.gif')
                &.open
                    background-color: gray
                    border: solid 1px
                    border-color: #666 #ddd #ddd #666
                    &.OK
                        background-image: url('OK.gif')
                    &.NG
                        background-image: url('NG.gif')
                    &.n1
                        background-image: url('1.gif')
                    &.n2
                        background-image: url('2.gif')
                    &.n3
                        background-image: url('3.gif')
                    &.n4
                        background-image: url('4.gif')
                    &.n5
                        background-image: url('5.gif')
                    &.n6
                        background-image: url('6.gif')
                    &.n7
                        background-image: url('7.gif')
                    &.n8
                        background-image: url('8.gif')
    .status
        font-size: 12px
        background: white
        padding: 1px 1em
        border: inset 2px

#rule
    display: none
    margin-top: 1em
    max-width: 600px
    border: solid 2px silver
    padding: 1em
    h2
        margin: 0
        font-size: 120%
        border-bottom: solid 1px silver
    h3
        margin: 1em 0 0 0
        font-size: 100%
        border-bottom: dotted 1px silver
    p, dd
        img
            height: 1.2em
            vertical-align: text-bottom
