@charset "UTF-8"

html
    margin: 0 15px
    font-size: 14px
    font-family: "Hiragino Maru Gothic Pro", Verdana, sans-serif
    -webkit-text-size-adjust: 100%
body
    margin: auto
    margin-bottom: 40px
    max-width: 900px

h1
    img
        width: 32px
        vertical-align: text-bottom
    font-size: 28px
    border-bottom: solid 2px #ccc
    margin-bottom: 0

.version
    font-size: 16px
    font-family: Georgia, serif
    text-align: right
    margin-top: -1.2em
